@media (min-width: 768px) {

    nav ul {
        display: flex !important;
        flex-direction: row;
        justify-content: center;
    }

    nav a {
        padding: 1rem 2rem;      
    }

    .temples-grid {
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
        gap: 2rem; 
    }

    .temple-card img {
        height: 200px;
    }

    #menu-button {
        display: none !important;
    }
}    